.fondo{
    background-image: url(../assets/mujerComiendo.jpg);
    background-size:cover;
    background-position: center;
}

@media all and (min-width: 320px){
    .fondo{
        background-image: url(../assets/mujerComiendo.jpg);
        background-size:cover;
        background-position: center;
    }
    
    .contenedorAdministracion{
        border-radius: 1rem;
        padding: 1rem;
        margin-bottom: 3rem;
    }
    ol{
        display: inline-block;
    }
    .iconoAgregar{
        font-size: 2.5rem;
        color: #198754;
    }
    .iconoSeleccionar{
        font-size: 2.5rem;
        color: #FFC107;
    }
    .btnAgregar{
        display: none;
    }
    .btnSeleccionar{
        display: none;
    }

    .cardPproducto{
        background: transparent;
        color: white;
        margin: 1rem 0 1rem 0;
        display: flow-root;
        border: none;
    }

    .cardImg{
        width: 70%;
        border-radius: 50%;
    }

    .contenedorProductos{
        height: 30rem;
        overflow: auto;
    }

    .contenedorProductos::-webkit-scrollbar{
        width: 7px;
    }
    .contenedorProductos::-webkit-scrollbar-thumb{
        background:#FFC107;
        border-radius: 1rem;
    }
    figure{
        width: 3rem;
    }
    figure img{
        width: 100%;
        border-radius: 50%;
    }
    #tdImg{
        display: flex;
        justify-content: center;
    }
    .iconoPausar{
        font-size: 2.5rem;
    }
    .tdBtn{
        border: none;
    }
}
@media all and (min-width: 768px){
    .contenedorAdministracion{
        border-radius: 2rem;
        padding: 2rem;
    }
    .iconoAgregar{
        display: none;
    }
    .iconoSeleccionar{
        display: none;
    }
    .btnAgregar{
        display: inline-block;
    }
    .btnSeleccionar{
        display: inline-block;
    }
    .tabla{
        width: 100%;
    }
}
@media all and (min-width: 1024px){
    .contenedorAdministracion{
        border-radius: 5rem;
        padding: 5rem;
        margin-bottom: 4rem;
    }
    .contenedorProductos{
        height: 50rem;
        justify-content: center;
    }
    .cardPproducto{
        width: 30rem;
    }

}