.fondo{
    background-image: url(../assets/mujerComiendo.jpg);
    background-size:cover;
    background-position: center;
}

@media all and (min-width: 320px){
    .fondo{
        background-image: url(../assets/mujerComiendo.jpg);
        background-size:cover;
        background-position: center;
    }
    
    .contenedorAdministracion{
        border-radius: 1rem;
        padding: 1rem;
    }
    ol{
        display: inline-block;
    }
    .iconoAgregar{
        font-size: 2.5rem;
        color: #198754;
    }
    .iconoSeleccionar{
        font-size: 2.5rem;
        color: #FFC107;
    }
    .btnAgregar{
        display: none;
    }
    .btnSeleccionar{
        display: none;
    }

    .cardPproducto{
        background: transparent;
        color: white;
        margin: 1rem 0 1rem 0;
        display: flow-root;
        border: none;
    }

    .cardImg{
        width: 70%;
        border-radius: 50%;
    }
}
@media all and (min-width: 768px){
    .contenedorAdministracion{
        border-radius: 2rem;
        padding: 2rem;
    }
}