@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&family=Reenie+Beanie&display=swap');

:root {
    --color-primario: #C7A17A;
    --color-secundario: #fff;
    --color-terciario: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: transparent;
}

header nav {
    margin-top: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.contenedor_publicidad {
    width: 100%;
    padding: 0.3rem;
    background: #000;
    position: relative;
    overflow: hidden;
}

.contenedor_publicidad h6 {
    font-size: 0.45rem;
    color: var(--color-secundario);
}


.slider {
    width: 70%;
    animation: deslizar 4.5s linear infinite;
    white-space: nowrap;
}


@keyframes deslizar {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);

    }
}

header nav {
    padding: 1rem;
}

header nav .nav_marca {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-secundario);
}

header nav .nav_marca span {
    color: var(--color-primario);
}

header nav svg {
    font-size: 1.4rem;
    color: var(--color-secundario);
}

header nav .menu_capa {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

header nav .menu_capa-visible {
    visibility: visible;
}

header nav .menu_capa ul {
    height: 100%;
    width: 65%;
    background: var(--color-primario);
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem 0;
    gap: 2rem;
    transform: translateX(100%);
    transition: .3s;
}

.icono_cerrar {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.icono_cerrar svg {
    font-size: 2rem;
    color: var(--color-secundario);
}

header nav .menu_capa .ul-visible {
    transform: translateX(0%);
}

header nav .menu_capa ul li {
    list-style: none;
}

header nav .menu_link {
    text-decoration: none;
    color: var(--color-secundario);
    font-weight: bold;
    padding-bottom: 0.4rem;
}

header nav .menu_link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--color-secundario);
    transition: 0.3s;
}

header nav .menu_link:hover::after {
    width: 100%;
    transition: 0.3s;
}

main .contenedor_platos {
    width: 100%;
    height: 20rem;
    background-image: url("./complementos/imagenes/imagenHero.png");
    background-size: cover;
    background-position: 50% 50%;
}

main .contenedor_platos article {
    padding-top: 6rem;
}

main .contenedor_platos article h1 {
    width: 70%;
    margin: 0 auto;
    font-size: 1rem;
    color: var(--color-secundario);
    line-height: 1.5rem;
}

main .contenedor_platos article h3 {
    width: 65%;
    margin: .8rem auto;
    font-size: .6rem;
    opacity: .7;
    color: var(--color-secundario);
    line-height: 1.1rem;
    font-weight: 300;
}

main .contenedor_input {
    width: 13rem;
    background-color: var(--color-secundario);
    border-radius: 2rem;
    position: relative;
}

main article .contenedor_input input {
    width: 88.5%;
    padding: .3rem;
    border: 0;
    outline: none;
    font-size: 0.7rem;
    background: transparent;
}

main .icono_buscador {
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--color-primario);
    border-radius: 100%;
    font-size: 0.7rem;
    color: var(--color-secundario);
    position: absolute;
    right: .2rem;
    margin-top: 0.03rem;
}

main .categorias {
    margin-top: 0.4rem;
    font-size: 0.5rem;
    color: var(--color-secundario);
    gap: .8rem;
    font-weight: bold;
}

footer {
    padding: 1rem 0;
    background-color: var(--color-terciario);
}

footer form {
    width: 80%;
    margin: 0 auto;
}

footer .form-control {
    font-size: 0.8rem;
}

footer h3 {
    font-size: 1rem;
    color: var(--color-primario);
}

footer ul a {
    text-decoration: none;
    font-size: .8rem;
    color: var(--color-secundario);
}

footer p {
    width: 80%;
    margin: .8rem auto;
    font-size: .8rem;
    color: var(--color-secundario);
}

footer button {
    margin-top: 0.8rem;
    font-size: .8rem;
    padding: .7rem;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border-radius: .3rem;
    border: 2px solid var(--color-primario);
}

footer button:hover {
    background-color: transparent;
    color: var(--color-primario);
    transition: .3s;
}

/* quienes somos banaer index */

HEAD .contenedor-quienes-somos {
    margin-top: -50px;
    margin-bottom: -50px;
    background-color: #fff;
}

.contenedor-quienes-somos {
    margin-top: -50px;
    margin-bottom: -60px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

.img-quienes-somos {
    object-fit: cover;
}

.quienes-somos-title {
    font-family: 'Reenie Beanie', cursive;
    font-weight: 300;
    font-size: 4rem;
    margin-top: 2rem;
}

.quienes-somos-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
}

main .contenedor_platos {
    height: 41.05rem;
}

main .contenedor_platos article {
    padding-top: 12rem;
}

main .contenedor_platos article h1 {
    width: 30%;
    font-size: 2rem;
    line-height: 3rem;
}

main .contenedor_platos article h3 {
    width: 25%;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

main article .contenedor_input {
    width: 24.5rem;
    padding: .3rem;
}

main article .icono_buscador {
    width: 2.3rem;
    height: 2.3rem;
}

main article .contenedor_input input {
    width: 91%;
    padding: .6rem;
}

main article .categorias {
    font-size: 0.8rem;
    gap: 1.8rem;
}

.contenedor_carrito {
    padding: 1rem;
}

.titulo_carrito {
    margin-top: 3rem;
    font-size: 1rem;
}

.contenedor_producto-carrito {
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    padding: 0.5rem;
    border-radius: .4rem;
}

.contenedor_producto-carrito .contenedor_imagen {
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: .4rem;
}

.contenedor_producto-carrito .carrito_caracteristicas h6 {
    font-size: 0.6rem;
}

.contenedor_producto-carrito .carrito_caracteristicas .title {
    font-weight: 300;
}

.contenedor_producto-carrito .carrito_caracteristicas .subtitle {
    width: 2rem;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

footer {
    padding: 2rem 0;
}

footer form {
    width: 80%;
}

footer h3 {
    font-size: 1.1rem;
}



/* TarjetaProductos  */
.img-tarjeta-producto {
    width: 12rem;
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.card-body {
    max-width: 16rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-primario);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

}

.body-tarjeta {
    margin-top: 3rem;
    color: var(--color-secundario);
}

/* Menu  */
.menu-contenedor {
    width: 100%;
    background-image: url(/src/complementos/imagenes/img-menu-background.png);
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    z-index: -1;
    padding-top: 9rem;
}

.menu-contenedor-body {
    color: var(--color-secundario);
}

.container-menu-card {
    margin-top: 12rem;

}


@media (min-width:767px) {
    .contenedor_publicidad h6 {
        font-size: 0.6rem;
    }

    .slider {
        width: 60%;
        animation: deslizar 9s linear infinite;
    }

    header nav {
        padding: 2rem;
    }

    header nav .menu_capa {
        width: 100%;
        height: 1rem;
        position: static;
        background-color: transparent;
        visibility: visible;
    }

    header nav .menu_capa ul {
        width: 100%;
        background-color: transparent;
        position: static;
        padding: 0;
        gap: 0rem;
        transform: translateX(0);
        margin-bottom: 0;
    }

    header nav .menu_link {
        font-size: 0.8rem;
        font-weight: 400;
    }

    header nav a::after {
        height: 1.2px;
    }

    header nav li {
        list-style: none;
    }

    main .contenedor_platos {
        height: 32rem;
    }

    main .contenedor_platos article {
        padding-top: 10rem;
    }

    main .contenedor_platos article h1 {
        width: 40%;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    main .contenedor_platos article h3 {
        width: 35%;
        font-size: .8rem;
    }

    main .contenedor_input {
        width: 19rem;
    }

    main article .contenedor_input input {
        width: 91%;
    }

    main .categorias {
        font-size: 0.7rem;
    }

    .contenedor_carrito {
        padding: 2rem;
    }

    .titulo_carrito {
        margin-top: 4rem;
        font-size: 1.2rem;
    }

    .contenedor_producto-carrito {
        padding: 0.6rem;
    }

    .contenedor_producto-carrito .contenedor_imagen {
        height: 4rem;
        width: 4rem;
    }

    .contenedor_producto-carrito .carrito_caracteristicas {
        width: 6rem;
    }

    .contenedor_producto-carrito .carrito_caracteristicas h6 {
        font-size: .8rem;
    }

    .contenedor_producto-carrito .carrito_caracteristicas .subtitle {
        width: 100%;
    }

    .contenedor_producto-carrito svg {
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    footer p {
        width: 100%;
    }

    footer form {
        width: 95%;
        margin-left: 0;
    }

    footer .form-control {
        font-size: 0.8rem;
    }
}

@media (min-width:988px) {

    .slider {
        animation: deslizar 11s linear infinite;
    }

    header nav {
        padding: 2rem;
    }

    header nav .menu_capa {
        width: 100%;
        height: 1rem;
        position: static;
        background-color: transparent;
        visibility: visible;
    }

    header nav .menu_capa ul {
        width: 100%;
        background-color: transparent;
        position: static;
        padding: 0;
        gap: 0rem;
        transform: translateX(0);
        margin-bottom: 0;
    }

    header nav .menu_link {
        font-size: 0.8rem;
        font-weight: 400;
    }

    header nav a::after {
        height: 1.2px;
    }

    header nav li {
        list-style: none;
    }

    .contenedor_producto-carrito .contenedor_imagen {
        height: 5rem;
        width: 5rem;
    }

    .contenedor_producto-carrito .carrito_caracteristicas {
        width: 8rem;
    }

    .contenedor_producto-carrito .carrito_caracteristicas h6 {
        font-size: 1rem;
    }

    .contenedor_producto-carrito svg:hover {
        cursor: pointer;
        transform: scale(.93);
        transition: .3s;
    }
}